/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); */
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

.navbarBranding {
    letter-spacing: 0.5rem;
    text-decoration: none;
    color: #cc6b49;
    font-weight: 600;
    font-size: 25px;
}
body {
    letter-spacing: 0.2rem;
    font-family: "Mouse Memoirs", sans-serif;
    background-color: #73bdab;
    color: #6f5643;
}

#sideNavbar {
    position: fixed;
    top: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideNavbar ul {
    list-style-type: none;
}

#sideNavbar ul li {
    margin-top: 1rem;
}

.custom-btn {
    font-size: 20px;
    color: #6f5643;
    width: 200px;
    height: 40px;
    border: 2px solid whitesmoke;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

#mainContent {
    margin-left: 18%;
    margin-right: 5%;
}

.headerHasilPencarian {
    margin-top: 1rem;
    font-style: 25px;
}

.buttonSearch {
    width: 75px;
}

.inputSearchKeyword {
    width: 200px;
}

.welcomingDiv {
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomingDiv-content {
    letter-spacing: 0.5rem;
    text-align: center;
}

.welcomingDiv-content h1 {
    font-weight: 800;
}

.welcomingDiv-content h3 {
    font-weight: 800;
}

.videoYoutube-embed {
    height: 210px;
    width: 100%;
}

.channelImg {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

footer {
    /* background-color: bisque; */
    height: 58px;
    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
    font-weight: 500;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
footer p {
    padding-top: 14px;
    color: #b91646;
}

footer p span {
    color: whitesmoke;
}
